


<div id="main-wrapper">
    
    <app-header></app-header>

    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->    
            <app-breadcrumbs></app-breadcrumbs>

            
            <!-- Mi sistema de rutas-->

            <router-outlet></router-outlet>

            <!-- <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                           
                            <router-outlet></router-outlet>
                            
                        </div>
                    </div>
                </div>
            </div> -->

        </div>

        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2021 SM8 Versión Omega: 4.5.6.7 Soporte Técnico
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->

    </div>


</div>   